<div class="navbar">
    <div class="navbar-inner">
        <div class="brand">{{{brand}}}</div>
        <ul class="nav">
            {{#each items}}
                <li {{#if active}}class="active"{{/if}}>
                    <a href="#" data-event="{{event}}">{{{title}}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>