<div class="navbar">
    <div class="navbar-inner">
        {{#if brand}}
        <div class="brand">{{brand}}</div>
        {{/if}}
        <ul class="nav">
            {{#each items}}
                <li class="{{#if active}}active{{/if}}{{#if region}} region-{{@index}}{{/if}}">
                    {{#if title}}
                        <a href="{{link}}">{{title}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>