<fieldset>
    <legend>Sharing <a href="http://www.addthis.com" target="_blank">{{icon "info-sign"}}</a></legend>

    <label>URL to share</label>
    <input type="url" data-parameter="src" autofocus placeholder="http://viewer.zmags.com/publication/...">

    <label class="checkbox">
        <input type="checkbox" data-parameter="noDeeplink" value="true">
        Disable page deeplinking
    </label>

    <label>Title to share</label>
    <input type="text" data-parameter="title" placeholder="Optional">

    <label>Sharing services</label>
    <div id="shareServices"></div>

    <input type="hidden" data-parameter="type" value="share">
</fieldset>

<div id="animation"></div>