<fieldset>
    <legend>Sharing <a href="http://www.addthis.com" target="_blank">{{icon "info-sign"}}</a></legend>

    <label>URL to share</label>
    <input type="url" data-parameter="src" autofocus placeholder="http://viewer.zmags.com/publication/...">

    <label>Title to share</label>
    <input type="text" data-parameter="title" placeholder="Optional">

    <label>Networks</label>
    {{#each services}}
        <label class="checkbox">
            <input type="checkbox" value="{{code}}" data-parameter="services">
            <img src="http://cache.addthiscdn.com/icons/v1/thumbs/{{code}}.gif"/> {{../serviceName}}
        </label>
    {{/each}}

    <label>Disable page deeplinking</label>
    <input type="checkbox" data-parameter="noDeeplink" value="true">

    <input type="hidden" data-parameter="type" value="share">
</fieldset>

<div id="animation"></div>