<label for="shareServices">Sharing services</label>
<input type="hidden" id="shareServices" data-parameter="services" style="width: 255px;" placeholder="Click or type to search">
<span id="reorderHelp" style="display: none;" class="help-block">Drag to reorder</span>