<fieldset>
    <legend>Text</legend>

    <label>Text</label>
    <input type="text" data-parameter="text" data-required autofocus>

    <label>Font</label>
    <input type="text" data-parameter="font-family">

    <label>Enable Google Fonts <a href="https://www.google.com/fonts/" target="_blank">{{icon "info-sign"}}</a></label>
    <input type="checkbox" data-parameter="googleFont" value="true">

    <label>Color</label>
    <input type="text" class="colorpicker" data-parameter="color" placeholder="Black">
</fieldset>

<div id="animation"></div>