<div class="preview">
    <iframe id="preview-frame" frameborder="0"></iframe>

    <button id="refresh" class="btn" title="Restart animation">{{icon "refresh"}}Restart</button>
    <a id="newwindow" class="btn" href="" target="_blank" title="Open in new window">{{icon "share"}}New window</a>

    <label>Widget URL</label>
    <input id="url" class="select-on-click" type="text" readonly>
    <div class="alert" id="warning-length" style="display: none;">
        {{icon "warning-sign"}} URL too long for Enriched to handle, please use fewer options.
    </div>
</div>