<input id="publication" type="text" placeholder="Publication ID or URL">

<div id="progressbar"></div>

<div id="warning-load" class="alert" style="display: none;">Unable to load publication data. Please check that you entered a publication ID or the URL to a publication on viewer.zmags.com</div>

<div id="widgetlist"></div>