body {
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}



.BaseWidget {
    visibility: visible;
}

.BaseWidget.hidden {
    /* Use visibility rather than display so that the widget retains its size while hidden. */
    visibility: hidden;
}


.AnimatedWidget {
    position: absolute;
}



.TextWidget {
    display: inline;
    white-space: nowrap;
}



.ImageWidget,
.ImageWidget img {
    width: 100%;
}

.ImageWidget.windowIsWider,
.ImageWidget.windowIsWider img {
    width: auto;
    height: 100%;
}

.ImageWidget.windowIsWider {
    width: auto;
    height: 100%;
}