html {
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    /* Force iOS 6 to use the size of the html element as the size of the iframe. */
    overflow: hidden;
}


.BaseWidget {
    visibility: visible;
}

.BaseWidget.hidden {
    /* Use visibility rather than display so that the widget retains its size while hidden. */
    visibility: hidden;
}


.AnimatedWidget {
    position: absolute;
}


.TextWidget {
    display: inline;
    white-space: nowrap;
}


.ImageWidget,
.ImageWidget img {
    width: 100%;
}

.ImageWidget.windowIsWider,
.ImageWidget.windowIsWider img {
    width: auto;
    height: 100%;
}


.ShareWidget {
    max-height: 32px;
}

.ShareWidget,
.ShareWidget a,
.ShareWidget img {
    width: auto;
    height: 100%;
}